doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

    if title === 'Blog' || !title
      title= 'Daniel Medina'
    else
      title= 'Daniel Medina | ' + title

    link(rel='shortcut icon' type='image/png' href='/assets/images/favicon.png')
    link(rel='stylesheet' href='/assets/styles.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono")

  //- Dynamically attributing active class to hyperlinks in the menu
  - const blogPath = (path === '/') ? 'active' : ''
  - const portfolioPath = (path === '/portfolio') ? 'active' : ''
  - const aboutmePath = (path === '/about-me') ? 'active' : ''
  - const contactPath = (path === '/contact') ? 'active' : ''

  body
    #website.row.wrap
      .container.wrap
        .content
          #menu.hidden-xs
            .pull-left
              li #[a(href='/', class=blogPath) #[i.fa.fa-newspaper-o] Blog]
              li #[a(href='/portfolio', class=portfolioPath) #[i.fa.fa-picture-o] Portfolio]
            .pull-right
              //- li #[a(href='/about-me', class=aboutmePath) #[i.fa.fa-address-card-o] About me]
              li #[a(href='/contact', class=contactPath) #[i.fa.fa-envelope-o] Contact]
              if (session.admin)
                li #[a(href='/admin/disconnect') #[i.fa.fa-power-off] Disconnect]
          menuxs.visible-xs
            .text-center
              br
              strong You need JavaScript enabled to see the mobile version of the menu.
              hr
          if (error.length > 0)
            .alert.alert-danger
              p= error
          if (success.length > 0)
            .alert.alert-success
              p= success
          .content-wrap
            block content
        #footer
          p.powered 
            if (env === 'development')
              | Development environment - #[a(href='/admin') administration]
            else
              | Powered by Node.js
          p.signature 
            a(href='https://github.com/daniel-medina/website' target='_blank') daniel-medina

    // Vue.js components of the website
    script(src='/assets/content.js')
