doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

    if title === 'Blog' || !title
      title= 'Daniel Medina'
    else
      title= 'Daniel Medina | ' + title

    link(rel='shortcut icon' type='image/png' href='/images/favicon.png')
    link(rel='stylesheet' href='/css/styles.css')
    // link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica")
    // link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono")

    // This is only for development
    script(src='js/vue.js')

  body
    div#website.row.wrap
      div.container.wrap
        div.content
          div#menu.hidden-xs
            div.pull-left
              li #[a(class='active' href='/') #[i.fa.fa-newspaper-o] Blog]
              li #[a(href='portfolio') #[i.fa.fa-picture-o] Portfolio]
            div.pull-right
              li #[a(href='about-me') #[i.fa.fa-address-card-o] About me]
              li #[a(href='contact') #[i.fa.fa-envelope-o] Contact]
              if (session.admin)
                li #[a(href='admin/disconnect') #[i.fa.fa-power-off] Disconnect]
          menuxs.visible-xs
            div.text-center
              br
              strong You need JavaScript enabled to see the mobile version of the menu.
              hr
          if (error.length > 0)
            div.alert.alert-danger
              p= error
          if (success.length > 0)
            div.alert.alert-success
              p= success
          div.content-wrap
            block content
        div#footer
          p.powered 
            if (env === 'development')
              | Development environment
            else
              | Powered by Node.js
          p.signature 
            a(href='https://github.com/daniel-medina/website' target='_blank') daniel-medina

    // Menu component
    script(src='/js/menu.js')
