extends ../layout.pug

block content
  .no-padding.col-lg-8.col-md-8.col-sm-12.col-xs-12
    each article in articles
      #block
        .block-content
          #article
            a(href='/article/' + article.url) #[.header= article.title]
            .info.col-lg-12.col-md-12.col-sm-12.col-xs-12
              .pull-left #{parse.article.created(article.created)} - #{parse.article.views(article.views.ip.length)}
              .pull-right= article.category.title
            .preview
              p!= marked(preview(article.content))

            if article.content.length >= previewStringLength
              .more
                a(href='/article/' + article.url) Read more 

  #block.col-lg-4.col-md-4.col-sm-12.col-xs-12
    .block-content
      #article-old
        .middle
          if (old.length > 0)
            each article in old
              a(href='/article/' + article.url) #[li.article #{article.title}]
          else
            p There isn't enough articles to display old ones.
        .bottom
              a.btn.btn-xs.btn-default.col-md-12.col-xs-12(href='archive') Archive
