extends ../layout.pug

block content
  div#article-old.col-lg-4.col-md-4.col-sm-4.col-xs-12
    div.header Other articles
    div.list
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.last.article Some older article title]
    div.archive
      a(href='archive') Archive

  each article in articles
    div#article.col-lg-8.col-md-8.col-sm-8.col-xs-12
      a(href='article/' + article.url) #[div.header= article.title]
      div.info
        div.pull-left #{article.created} - #{article.views.ip.length} #{article.views.ip.length > 1 ? 'views' : 'view'}
        div.pull-right= article.category
      div.preview
        p!= marked(nl2br(escapeHtml(preview(article.content))))

      if article.content.length >= previewStringLength
        div.more
          a(href='article/' + article.url) Read more 
