extends ../../layout.pug

block content
  #block.col-lg-8.col-md-8.col-sm-12
    .block-content
      .top
        .pagination.pull-right
          if (maxPage > 1)
            each link in pagination
              //- This variable ensure that the url of the first page uses no '?page=1' get value
              - var url = (link > 1) ? '/' + link : ''

              if (link === '...')
                li.page.disabled #[a ...]
              else if (link === page)
                li.page.active #[a #{link}]
              else
                li.page #[a(href='/admin/blog' + url) #{link}]
        a.btn.btn-xs.btn-success(href='/admin/article/create') #[i.fa.fa-plus-circle] new article
      .middle
        #article-list
          if (amount > 0)
            table
              thead
                tr
                  th.url url
                  th.date date
                  th.category category
                  th.action action
              tbody
                each article in articles
                  tr
                    td.url= article.url
                    td.date= parse.article.created2(article.created)
                    td.category= article.category.title
                    td.action #[a.btn.btn-xs.btn-info(target='_blank' href='/article/' + article.url) #[i.fa.fa-eye]] #[a.btn.btn-xs.btn-warning(href='./article/edit/' + article._id) #[i.fa.fa-pencil]] #[a.btn.btn-xs.btn-danger(href='./article/delete/' + article._id) #[i.fa.fa-times]]
          else
            b #[.text-center There is no data to display.]
            
  .no-padding.col-lg-4.col-md-4.col-sm-12.col-xs-12
    #block
      .block-content
        .top
          .title Categories

        form(method='POST' action='./article-category/create')
          .middle 
            each category in categories
              li= category.title
            // Now comes the category's creation form
            br
            .form-group
              input.form-control(type='text' name='title' placeholder='New category title')
          .bottom
            input.btn.btn-xs.btn-primary.col-md-12.col-xs-12(type='submit' value='Create')

    #block
      .block-content
        .top.dark 
          .title Configuration
        .middle 
          p 
            | W.I.P.
            br
            br
            | For now, configurations are available inside config/blog.js.
